results/*
md/*
extracted*
exports*
data/*
*pycache*
.ipynb_checkpoints/
embedding_frames*
session_exports/*
.DS_Store
*.png
*.csv
*.npy
*.vvp
*.vcd
*_legacy
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.bcf
papers/*